<section class="favorite-section">
  <h2 class="favorite-title">Some of Our Favorites</h2>
  <p class="sub-title">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </p>
  <div class="favorite-container">
    <img src="./img/gamburger.png" class="favorite-img" />
    <img src="./img/pasta.png" class="favorite-img" />
    <img src="./img/pizza.png" class="favorite-img" />
    <img src="./img/chicken.png" class="favorite-img" />
    <img src="/img/salat.png" class="favorite-img" />
    <img src="./img/borshch.png" class="favorite-img" />
  </div>
</section>
