<footer class="footer">
  <div class="section">
    <div class="footer-container">
      <div class="footer-nav-container">
        <a href="#" class="logo-link-footer">
          <img
            class="logo-footer"
            src="./img/Vector.png"
            alt="FoodSta logo"
            width="66"
            height="52"
          />
        </a>
        <nav class="nav-footer">
          <ul class="nav-list-footer">
            <li class="nav-item-footer">
              <a href="#" class="nav-link-footer">Home</a>
            </li>

            <li class="nav-item-footer">
              <a href="#" class="nav-link-footer">About</a>
            </li>
            <li class="nav-item-footer">
              <a href="#" class="nav-link-footer">Service</a>
            </li>
            <li class="nav-item-footer">
              <a href="#" class="nav-link-footer">Menu</a>
            </li>
            <li class="nav-item-footer">
              <a href="#" class="nav-link-footer">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="footer-first-con">
        <h2 class="subscribe-title-footer">Subscribe</h2>

        <form class="form-footer">
          <input type="text" placeholder="Enter your email" />
          <button class="subscribe-btn-footer">Subscribe</button>
        </form>

        <p class="footer-action">
          By subscribing you agree to with our <a>Privacy Policy</a>
        </p>
      </div>
    </div>
    <div class="footer-info">
      <div class="footer-list-link">
        <a href="">Privacy Policy</a><a href=""></a>Terms of Service<a href=""
          >Cookies Settings</a
        >
      </div>

      <p class="footer-right">2025 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>
