<header class="header">
  <a href="#" class="logo-link">
    <img
      class="logo"
      src="./img/Vector.png"
      alt="FoodSta logo"
      width="66"
      height="52"
    />
  </a>
  <div class="nav-container">
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#" class="nav-link">Home</a>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Service</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Menu</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Contact</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="header-bnt">Order Now</button>
  </div>
  <button type="button" class="burger-btn" data-modal-open>
    <svg class="burger-btn-icon" width="23.33" height="16.41">
      <use href="./img/sprite.svg#icon-burger-menu" class="burger-menu"></use>
    </svg>
  </button>
</header>
