<header class="header">
  <div class="container">
    <img src="../public/fuudsta.svg" alt="logo" />
    <div class="menu" data-menu>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="#" class="nav__link">Home</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">About</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Service</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Menu</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Contact</a>
          </li>
        </ul>
        <button class="header__button" type="button">Order Nows</button>
      </nav>
    </div>
  </div>
</header>
