<section class="section hero">
    <h1 class="title">Enjoy Your Favorite Food From Anywhere</h1>
    <div class="wrapper">
  
  
  <div class="hero-wrapper">
    
    <p class="hero-text">
      With just a few clicks, you can have your favorite meals delivered
      straight to your doorstep, no matter where you are. Order now and enjoy a
      hassle-free and delicious meal from the comfort of your own home.
    </p>
    <button class="hero-button" type="button">Order Now</button>
  </div>

  <div class="slider-container">
    <div class="arrow-wrapper-left">
    <svg class="arrow arrow-left" >
      <use href="./img/sprite.svg#icon-arrow-left" ></use>
    </svg>
    </div>

    <div class="slider">
      <img src="./img/dish-1x.png" class="slider-image block" />
      <img src="./img/food-1x.png" class="slider-image" />
      <img src="./img/salat-1x.png" class="slider-image" />
    </div>
     <div class="arrow-wrapper-right  ">
    <svg class="arrow arrow-right"  >
      <use class="arrow-svg" href="./img/sprite.svg#icon-arrow-right" > </use>
    </svg>
</div>
  
  <div>
</section>
