<div class="modal-menu-backdrop is-hidden">
  <div class="modal-menu">
    <button class="modal-menu-btn" data-modal-close>
      <svg class="modal-btn-icon" width="10.76" height="10.76">
        <use href="../img/sprite.svg#icon-close-btn"></use>
      </svg>
    </button>
    <nav>
      <ul class="nav-mobile">
        <li class="nav-item-mobile">
          <a href="#" class="nav-link-mobile">Home</a>
        </li>
        <li class="nav-item-mobile">
          <a href="#" class="nav-link-mobile">About</a>
        </li>
        <li class="nav-item-mobile">
          <a href="#" class="nav-link-mobile">Service</a>
        </li>
        <li class="nav-item-mobile">
          <a href="#" class="nav-link-mobile">Menu</a>
        </li>
        <li class="nav-item-mobile">
          <a href="#" class="nav-link-mobile">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
