<section class="subscribe">
  <div class="section">
    <div class="img-wrapper-sub">
      <img class="subscribe-img" src="../img/banana.png" />
    </div>
    <div class="info-wrapper">
      <h2 class="subscribe-title">Subscribe To Get Special Offers</h2>
      <p class="subscribe-info">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique.
      </p>
      <form class="form">
        <input type="text" placeholder="Enter your email" />
        <button class="subscribe-btn">Subscribe</button>
      </form>
    </div>
  </div>
</section>
