.section-bg {
  position: relative;
  padding-top: 41px;
  padding-bottom: 63px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 100% 100%;

  background-image: url(../img/BGMobile320.png);
  top: 50px;
  @media screen and (min-width: 321px) and (max-width: 767px) {
    background-image: url(../img/BGMobile480.png);
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    background-image: url(../img/BGTablet.png);
    top: -130px;

    /* position: relative;
    top: -100px; */
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../img/BGDesktop.png);
    top: -350px;
    /* position: relative;
    top: -50px; */
  }

  /* background-image: url(../img/BGDesktop.png); */
  /* position: relative;
  top: -370px; */
}
.img-wrapper {
  @media screen and (max-width: 1279px) {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
  }
}

.img-bg {
  display: flex;
  justify-content: center;
  background-color: var(--white);
  border-radius: 50%;
  width: 225px;
  height: 225px;
  @media screen and (min-width: 767px) and (max-width: 1279px) {
    width: 325px;
    height: 325px;
  }

  @media screen and (min-width: 1280px) {
    width: 502px;
    height: 502px;
  }
}

.apple-border {
  border-radius: 50%;
  border: 3px solid var(--white);
  padding: 12px;
  @media screen and (min-width: 767px) and (max-width: 1279px) {
    padding: 15px;
  }
  @media screen and (min-width: 1280px) {
    border: 5px solid var(--white);

    padding: 24px;
  }
}
.apple-img {
  /* max-width: 280px; */
  position: relative;
  @media screen and (max-width: 767px) {
    width: 201px;
    height: 255px;
    top: -45px;
  }
  @media screen and (min-width: 767px) {
    width: 257px;
    height: 325px;
    top: -50px;
  }
  @media screen and (min-width: 1280px) {
    width: 396px;
    height: 502px;
    top: -80px;
  }

  /* padding-top: 41px;
  padding-left: 20px;
  padding-right: 20px; */
}

.apple-img-hide {
  display: none;
  @media screen and (min-width: 767px) and (max-width: 1279px) {
    display: flex;
    position: relative;
    top: -50px;
  }
}

.apple-img-hide .selected {
  @media screen and (min-width: 767px) and (max-width: 1279px) {
    align-self: center;
  }
}

.about-wrapper {
  @media screen and (min-width: 767px) and (max-width: 1279px) {
    padding-top: 110px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 150px;
    display: flex;
    justify-content: space-evenly;
    gap: 90px;
  }

  /* @media screen and (min-width: 481px) and (max-width: 1280px) {
    position: relative;
    top: -100px;
  } */
}

/* .icon-wrapper {
  display: flex;
} */
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: var(--white);
  border-radius: 50%;
  margin-bottom: 8px;
}

.icon {
  width: 26px;
  height: 26px;
  fill: var(--dark-green);
}

.title-about {
  font-weight: 700;
  font-size: 28px;

  margin-top: 60px;
  margin-bottom: 28px;
  @media screen and (min-width: 768px) {
    font-size: 42px;
    line-height: 1.19;
  }
}

.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42;

  margin-bottom: 28px;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 40px;
  }
}

.secondary-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;

  margin-bottom: 16px;
}

.about-btn {
  font-size: 13px;
  font-weight: 500;

  line-height: 1.42;
  background-color: var(--white);
  border: 2px solid var(--dark-green);
  border-radius: 30px;
  padding: 10px 22px;
}

/* .bnt-read-more {
  display: flex;
}

.btn-container {
  display: flex;
} */
.bnt-read-more {
  display: flex;
  align-items: center;
  gap: 4px;

  @media screen and (min-width: 1280px) {
    display: none;
  }
}
.icon-arrow {
  width: 13px;
  height: 13px;
}

.btn-container {
  display: flex;
  justify-content: flex-start;
  gap: 24px;
}

.privilage {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 67px;
  }
}

.privilage-item {
  @media screen and (min-width: 768px) {
    width: 253px;
  }
}

.about-main-text-conteiner {
  @media screen and (min-width: 768px) {
    width: 527px;
  }
}

/* .about {
  display: flex;
  align-items: center;
  flex-direction: column;
} */
