.section-bg {
  margin-top: 50px;
  background-image: url(../img/BGMobile320.png);
  background-repeat: no-repeat;

  @media screen and (min-width: 321px) and (max-width: 480px) {
    background-image: url(../img/BGMobile480.png);
  }

  @media screen and (min-width: 481px) and (max-width: 1280px) {
    background-image: url(../img/BGTablet.png);
    position: relative;
    top: -100px;
  }

  /* background-image: url(../img/BGDesktop.png); */
  /* position: relative;
  top: -370px; */
}

.apple-img {
  /* max-width: 280px; */
  @media screen and (min-width: 480px) {
    padding-top: 150px;
    padding-left: 32px;
  }

  /* padding-top: 41px;
  padding-left: 20px;
  padding-right: 20px; */
}

.about-wrapper {
  @media screen and (max-width: 480px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* @media screen and (min-width: 481px) and (max-width: 1280px) {
    position: relative;
    top: -100px;
  } */
}
