/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./font.css');
@import url('./reset.css');
@import url('./header.css');
@import url('./mobile-menu.css');
@import url('./hero.css');
/*@import url('./about.css');
@import url('./favorites.css');
@import url('./reviews.css');
@import url('./favorites.css');
@import url('./reviews.css');
@import url('./subscribe.css'); */

:root {
  /* font */
  /* font-family: 'Roboto', sans-serif;
  font-size: 16px;

  font-weight: 400; */

  /* colors */

  --main-yellow: #ffe550;
  --btn-green: #bbf330;
  --dark-green: #7eb101;
  --white: #fefefe;
  --black: #2c2c2c;
  --radial-shadow: rgba(47, 88, 63, 1);

  --main-font: 'Roboto', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: var(--main-font);
}

.section {
  margin-left: 20px;
  margin-right: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
